.scf-page-blog-detail {
  padding-top: 40px;
}
.scf-page-blog-detail .scf-home-block:first-child {
  margin-bottom: 99px;
}

.scf-page-blog-detail .scf-home-block:last-child {
  margin-bottom: 0px;
}
.scf-detail__content {
  max-width: 1000px;
  margin: 0px auto;
}

.scf-grid__item-18 {
  width: 75%;
}
.scf-grid__item-6 {
  width: 25%;
}
.scf-detail-docs__title {
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 20px;
  font-weight: 400;
}
.scf-detail-docs__info {
  font-size: 14px;
  line-height: 24px;
  color: rgb(140, 140, 140);
  margin-bottom: 40px;
}
.scf-detail__show-more {
  position: relative;
  margin-top: -200px;
  text-align: center;
}
.scf-toc__title {
  display: block;
  font-size: 17px;
  color: rgb(51, 51, 51);
  margin-bottom: 16px;
}
.scf-toc-list__item {
  font-size: 14px;
  line-height: 18px;
  position: relative;
  padding-left: 20px;
  border-bottom: 10px solid transparent;
}
.scf-toc-list__item:last-child {
  border-bottom: 0px;
}
.scf-toc-list__item-label:before {
  content: "";
  position: absolute;
  left: 4px;
  top: 5px;
  width: 3px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  z-index: 1;
  border-radius: 100%;
}
.scf-toc-list__item:first-child:after {
  top: 50%;
}
.scf-toc-list__item:after {
  content: "";
  width: 1px;
  position: absolute;
  top: 0;
  bottom: -15px;
  left: 5px;
  background-color: rgba(253,87,80,.1);
}

.has-sub-list .scf-toc-list__item:after {
  background-color: #fff;
}
.scf-toc-list .has-sub-list .scf-toc-list__item:before {
  content: "";
  height: 1px;
  position: absolute;
  top: 6px;
  left: -14px;
  background-color: rgba(253, 87, 80, 0.1);
  width: 20px;
}
.scf-toc-list__item:last-child::after {
  bottom: 10px;
}
.scf-toc-list .has-sub-list .scf-toc-list {
  margin-top: 15px;
}
.scf-detail__mask {
  width: 100%;
  height: 200px;
  background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,0)),to(#fff));
  background-image: linear-gradient(hsla(0,0%,100%,0),#fff);
  margin-bottom: 40px;
}
.scf-detail-docs__info {
  margin-bottom: 40px;
}
.scf-detail-docs__info p{
  font-size: 14px;
  line-height: 24px;
  color: #8c8c8c;
}
.scf-detail-docs__info a{
  font-size: 14px;
  line-height: 24px;
  color: #8c8c8c;
}
@media screen and (max-width: 992px) {

  #scf-blog-detail-header {
    display: none;
  }
}
