.scf-activity-box {
  height: 100%;
}
.scf-activity-article-item a{
  display: contents;
}
.scf-activity-box a {
  background-color: transparent;
  text-decoration: none;
  color: #0052D9;
  cursor: pointer;
}
.scf-activity-home-active {
  margin-bottom: 15px;
  height: 100%;
}
.scf-activity-box__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
}
.scf-activity-box__header-title.size-s {
  min-width: 100px;
}
.scf-activity-box__header-title {
  display: flex;
  position: relative;
  font-weight: 600;
  height: 37px;
  line-height: 44px;
  min-width: 147px;
  background-image: url(../../../assets/images/box-title-bg.svg);
}
.scf-activity-box__header-more {
  font-size: 16px;
}
.scf-activity-box__header-title h3 {
  font-size: 22px;
  color: #333;
  position: relative;
  margin-right: 30px;
  line-height: 42px;;
}
.scf-activity-home-active .scf-activity-article-item {
  padding: 20px;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.08);
  border: 1px solid #eaeaea;
  margin-bottom: 30px;
}
.scf-activity-article-item {
  display: flex;
  /* flex-direction: column; */
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.scf-activity-home-active .scf-activity-article-item__img {
  padding-top: 50.9%;
  overflow: hidden;
}

.scf-activity-article-item__img {
  font-size: 0;
  margin-bottom: 15px;
  height: 0;
  padding-top: 48.4%;
  position: relative;
  overflow: hidden;
}
.scf-activity-article-item__content {
  margin-bottom: top;
}
.scf-activity-article-item__img img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}
.scf-activity-article-item__intro, .scf-activity-article-item__title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.scf-activity-article-item__title {
  color: #000;
  font-size: 17px;
  line-height: 40px;
  margin-bottom: 10px;
  font-weight: 400;
}
.scf-activity-article-item__intro {
  color: #666;
  font-size: 14px;
  line-height: 22px;
}
.scf-box__header-title.size-s {
  min-width: 100px;
}
.scf-home-active .scf-article-item {
  padding: 20px;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.08);
  border: 1px solid #eaeaea;
  margin-bottom: 30px;
}
.scf-home-active .scf-article-item:last-child {
  margin-bottom: 0;
}
.scf-home-active .scf-article-item__img {
  padding-top: 53.1%;
  overflow: hidden;
}
.scf-article-item__img {
  font-size: 0;
  margin-bottom: 15px;
  height: 0;
  padding-top: 48.4%;
  position: relative;
  overflow: hidden;
}
