.scf-box__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
}

.scf-box__header-title {
  display: flex;
  position: relative;
  height: 37px;
  line-height: 44px;
  min-width: 147px;
  background-image: url(../../../assets/images/box-title-bg.svg);
}
.scf-box__header-title h3 {
  font-size: 22px;
  color: #333;
  position: relative;
  line-height: 42px;
  margin-right: 30px;
}
.scf-box__header-more {
  font-size: 16px;
}
.scf-box__header-more a {
  background-color: transparent;
  text-decoration: none;
  color: #0052D9;
  cursor: pointer;
}
.scf-best-practices .scf-grid {
  margin-bottom: 9px;
}
.scf-best-practices .scf-grid:last-child {
  margin-bottom: 0;
}
