.scf-home-blog .scf-article-item {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.scf-box__header-title h3+.scf-box__header-segment {
  margin-left: -15px;
}

.scf-article-item a{
  display: contents;
}
.scf-box__header+.scf-blog{
  margin-bottom: 15px;
}
.scf-box__header-segment {
  font-size: 16px;
  position: relative;
  margin-top: -2px;
  line-height: 42px;
}
.scf-box__header-segment-item.is-active, .scf-box__header-segment-item:hover {
  color: #0052D9;
  text-decoration: none;
}
.scf-box__header-segment-item {
  color: #666;
  margin: 0 15px;
}
.scf-article-item--block .scf-article-item__img {
  flex: 0 0 28.2%;
  margin-bottom: 0;
  margin-left: 40px;
  height: auto;
  padding-top: 0;
}

.scf-article-item:last-child {
  border-bottom: none;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.scf-article-item--block .scf-article-item__content {
  flex: auto;
}
.scf-article-item--block .scf-article-item__img-inner {
  width: 100%;
  padding-top: 61.9%;
  height: 0;
  position: relative;
  overflow: hidden;
}
.scf-article-item__img img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
  left: 0;
  max-width: 100%;
}
.scf-article-item__img-inner img {
  position: absolute;
  top: 50%;
  left: 0;
}

.item__title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.scf-home-blog .scf-box__body {
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.08);
  border: 1px solid #eaeaea;
  padding: 20px 20px 16px;
}
.scf-article-item .scf-article-item--block a{
  width: 100%;
  height: 100%;
}

#scf-box-hot-blogs {
  display: none;
}

.scf-article-item--block  .scf-article-item__content .scf-blog-item-pv-icon {
  display: block;
  margin-right: 5px;
}

#scf-blog-tab a:hover {
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .scf-article-item a{
    display: block;
    width: 100%;
  }
}
